Repository yinchengnuo/YAPIResponseTransformToTypescriptInterface: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

移动检查更新逻辑至渲染进程
  app/src/updata.ts
  src/components/Updata.vue
Due: prettier --write, eslint --fix

移除渲染进程检查更新
  app/src/updata.ts
  src/components/Updata.vue
Due: prettier --write, eslint --fix

完成串口通信环境集成测试
  package-lock.json
  package.json
  src/components/Updata.vue
  yarn.lock
Due: prettier --write, eslint --fix

优化检查更新逻辑
  app/src/IPC.ts
  app/src/updata.ts
  package.json
  src/components/Updata.vue
Due: prettier --write, eslint --fix

优化检查更新
  app/src/updata.ts
  src/components/Updata.vue
Due: prettier --write, eslint --fix

重构打包模块
  app/build.ts
  index.js
  package.json
  src/assets/icon.png
  src/assets/my.png
  src/views/Index/index.vue
Due: prettier --write, eslint --fix

优化更新
  app/build.ts
  app/src/updata.ts
  package.json
  public/favicon.ico
Due: eslint --fix

修复运行异常
  package.json
  pnpm-lock.yaml
  src/router/index.ts
  src/views/home/data.ts
  src/views/home/index.scss
  src/views/home/index.vue
  src/views/port/index.vue
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix

添加菜单
  app/index.ts
  app/src/init.ts
  app/src/menu.ts
  index.html
Due: eslint --fix

增加页面缩放按钮
  app/src/menu.ts
Due: eslint --fix

增加最小化
  app/src/menu.ts
Due: eslint --fix

调整退出应用位置
  app/src/menu.ts
Due: eslint --fix

增加打包平台判断
  app/build.ts
Due: eslint --fix

增加打包删除build
  app/build.ts
  src/router/index.ts
Due: prettier --write, eslint --fix

增加强制更新
  app/src/IPC.ts
  app/src/menu.ts
  app/src/updata.ts
  src/App.vue
  src/components/Bottom.vue
Due: prettier --write, eslint --fix

修复打包latest.yml处理异常
  app/build.ts
Due: eslint --fix

优化菜单检查更新
  app/src/menu.ts
Due: eslint --fix

增加 build 注释
  app/build.ts
  index.js
Due: eslint --fix

增加退出提示
  app/index.ts
  app/src/IPC.ts
  app/src/init.ts
  app/src/updata.ts
  src/App.vue
  src/components/Bottom.vue
Due: prettier --write, eslint --fix

增加Web适配
  src/App.vue
Due: prettier --write, eslint --fix

修复打包处理 latest-mac.yml 无效
  app/build.ts
Due: eslint --fix

修复mac无法退出
  app/index.ts
  app/src/init.ts
  app/src/menu.ts
Due: eslint --fix

移除关闭提示
  app/index.ts
  app/src/IPC.ts
  app/src/init.ts
  app/src/menu.ts
  src/components/Bottom.vue
Due: prettier --write, eslint --fix

增加本地存储俩页面
  src/components/Bottom.vue
  src/router/index.ts
  src/views/IndexedDB/index.vue
  src/views/SQLite/index.vue
Due: prettier --write, eslint --fix

完成 MAC 自动更新
  app/src/init.ts
  app/src/updata.ts
Due: eslint --fix

增加 mac URL Schemes
  app/build.ts
  app/src/init.ts
  src/components/Bottom.vue
Due: prettier --write, eslint --fix

新增webserial页面
  app/index.ts
  app/src/IPC.ts
  app/src/init.ts
  app/src/serialport.ts
  app/src/webserial.ts
  src/components/Bottom.vue
  src/router/index.ts
  src/views/serialport/index.vue
  src/views/webserial/index.vue
Due: prettier --write, eslint --fix

完成从8051接收数据
  src/views/serialport/index.vue
Due: prettier --write, eslint --fix

完成 webserial 通信
  app/src/webserial.ts
  src/views/serialport/index.vue
  src/views/webserial/index.vue
Due: prettier --write, eslint --fix

完成 webserial 集成
  src/views/serialport/index.vue
  src/views/webserial/index.vue
Due: prettier --write, eslint --fix

修复权限函数名称错误
  app/src/init.ts
Due: eslint --fix

feat: 添加 commitlint
  .commitlintrc
  .husky/commit-msg
  package-lock.json
  package.json
  yarn.lock
Due: none

Path conditions:
  prettier --write: any of: src/**/*.{js,ts,vue,scss,json,md}
  eslint --fix: (any of: src/**/*.{js,ts,vue}) or (any of: app/**/*.ts)
